* {
    box-sizing: border-box;       
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
}

.heaeder {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search__form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}

.search__btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}

.search__input {
    background-color: transparent;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    outline: none;
}

.auth {
    margin-left: auto;
}

.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.shopping__cart{
    width: 49px;
    height: 49px;
    background: #F66A15;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}

.shopping__counter {
    background: #FFAF19;
    right: -3px;
    bottom: -3px;
    color: #000;
    font-size: 8px;
    line-height: 9px;
    display: block;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
}

.slide {
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: relative;
    overflow: hidden;
}

.slide__summer {  
    background-image: url(../img/summer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;   
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 
    40.45%, rgba(0, 0, 0, 0) 100%);
}

.slide__content {
    max-width: 400px;
    position: relative;
}

.slide__text-light {
    background-color: grey;
    color: #fff;
}

.slide__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.slide__text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.button__default {
    background-color: #fff;
    color: #5F5F61; 
    border-radius: 25px;
    text-decoration: none;
    padding: 11px 50px;
    display: inline-block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
}

.button__primary {
    background: #F47322;
}

.button {
    border-radius: 25px;
    text-decoration: none;
    padding: 11px 50px;
    display: inline-block;
    color: #fff;    
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.promo{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
}

.card__text-light {
    color: #fff;
}

.card:before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3));
}


.card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 4px;
    margin-bottom: 24px;
}

.card__text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    max-width: 168px;
}

.card__price {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 8px;
}

.card__delivery {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 25px;
}

.sweet__basket {
    background: url(../img/sweet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.min__efforts {
    background: url(../img/min-efforts.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}